<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="page-header">
        <div class="alert alert-danger" role="alert">
            <strong>Oops!</strong>
            <p>Are you sure that your email domain belong to the group?
                If the error persist, contact your admin.</p>
        </div>
    </div>
</body>
</html>