<h1 class="page-header"> Ranking </h1>
<div class="panel panel-default">
    
    <% if (user && user.admin) { %>
    <div class="panel-heading">
        <button type="button" class="btn btn-danger" ng-click="updateRanking()" >Actualizar ranking!</button>
    </div>
    <% } %>

    <div class="panel-body">
        <div id="ranking">
            <div class="table-responsive">
                <table class="table table-hover table-striped text-center middleData text-center">
                    <thead>
                    <tr>
                        <th>Pos</th>
                        <th>Jugador</th>
                        <!--<th class="hidden-lg hidden-md hidden-sm">J</th>-->
                        <th class="hidden-xs"></th>
                        <th>Ranking</th>
                        <th class="hidden-xs">PJ</th>
                        <th class="hidden-xs">PG %</th>
                        <th class="hidden-xs">PE %</th>
                        <th class="hidden-xs">PP %</th>
                        <th>Diff</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in stats track by $index | orderBy:'-ranking'" ng-if="player.active != false" ng-click="goTo(player)" style="cursor: pointer">
                        <td>{{$index + 1}}</td>
                        <td><img ng-src="{{player.image}}" class="img-circle"></td>
                        <td class="hidden-xs"><span>{{player.alias}}</span></td>
                        <td class="highlightResult">{{player.ranking}}</td>
                        <td class="hidden-xs">{{player.matchesPlayed}}</td>
                        <td class="hidden-xs">{{player.wonAvg}}</td>
                        <td class="hidden-xs">{{player.tiedAvg}}</td>
                        <td class="hidden-xs">{{player.lostAvg}}</td>
                        <td ng-init="diff = player.delta;" ng-class="diff >0 ? 'rankPositive' : diff < 0 ? 'rankNegative' : ''">
                            {{diff | number:2}}

                            <i ng-if="diff > 0" class="fa fa-arrow-circle-up"></i>
                            <i ng-if="diff < 0" class="fa fa-arrow-circle-down"></i>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            
        </div>

    </div>
</div>