<h1 class="page-header"> {{theTournament.name}} </h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <span>
            Fecha: {{theTournament.creationDate | date:'dd-MM-yyyy'}}</br>
            <a ng-click="generateRandomTeams()" href="#" role="button" > Sorteo de equipos (no selecciones)</a>
            <div ng-repeat="team in randomTeams" style="display: inline-block;">
                 {{$index == 1 ? 'vs' : ''}}
                 <div class="team {{team}}" > </div>
            </div>
        </span>
    </div>

    <div class="panel-body">
		<span style="display: inline-block;" ng-show="players.length > 0">Tags: </span>
        <div style="display: inline-block;" ng-repeat="player in players">
            <a  ng-click="removePlayerTag(player)" class="filterLabel label label-primary" href="#" role="button" > {{player}} X </a>
        </div>
        <h3>{{thePhase}}</h3>
        <h4>{{thePhase == 'Partidos' ? '' : 'Partidos'}}</h4>

        
		<div class="input-group custom-search-form" style="margin-top: 1em; width: 100%">
			<input type="text" class="form-control" placeholder="Search for a match..." ng-model="searchMatch" ng-model-options="{debounce: 500}">
			<span class="input-group-btn">
				<button class="btn btn-default " type="button">
					<i class="fa fa-search"></i>
				</button>
				<% if (user) { %>
				<button ng-controller="modalController" type="button" class="btn btn-success" ng-click="open({'tournament': theTournament, 'phase': thePhase, 'away': {}, 'home': {}})">Cargar partido<i class=""></i></button>
				<% } %>

			</span>
		</div>
		<div style="margin-top: 0.5em; margin-bottom: 0.5em">
			<span class="commentText">Eze AND Santi -> within the same team</span><br>
			<span class="commentText">Eze Santi Pasto PabloA -> within the match</span>
		</div>
		<div class="table-responsive">
            <table class="table middleData text-center">
            <thead>
            <tr>
				<th>
					<span class="pointer noselect" ng-click="sortReverse = !sortReverse">
						<span>Dia</span>
						<span ng-show="!sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortReverse" class="fa fa-caret-up"></span>
					</span>

				</th>
                <th class="hidden-xs">Jugadores</th>
                <th class="hidden-lg">J</th>
                <th class="hidden-xs">Equipo</th>
                <th>L</th>
                <th></th>
                <th>V</th>
                <th class="hidden-xs">Equipo</th>
                <th class="hidden-xs">Jugadores</th>
                <th class="hidden-lg">J</th>

                <!--th>Tags</th-->
            </tr>
            </thead>
                <tbody ng-repeat="match in filteredMatches = (matches | matchFilter:players | tagFilter: tagFilters | searchMatchFilter:searchMatch | orderBy:orderByDateFn:sortReverse)">

                <tr ng-class="match.clazz">
					<td rowspan="2" class="col-md-1"> <!--Dia-->
						{{match.date | date:'dd-MM-yy'}}
					</td>
                    <td ng-class="match.home.clazz"> <!--Jugador-->
                        <img class="img-circle img-circle-small" ng-src="{{getPicture(match.home.player)}}" ng-click="addPlayerTag(match.home.player)">
                        <span class="hidden-xs">{{match.home.player}}</span>
                    </td>
                    <td rowspan="2" ng-class="match.home.clazz" class="hidden-xs col-md-1"> <!--Equipo-->
                        <div class="team {{match.home.team}}"></div>
                    </td>
                    <td rowspan="2" ng-class="match.home.clazz" class="matchGoals"> <!--Local-->
                        {{match.home.goals}}
                        <span ng-if="match.home.penalties">({{match.home.penalties}})</span>
                    </td>
                    <td rowspan="2">vs</td> <!--vs-->
                    <td rowspan="2" ng-class="match.away.clazz" class="matchGoals"> <!--Visitante-->
                        {{match.away.goals}}
                        <span ng-if="match.away.penalties">({{match.away.penalties}})</span>
                    </td>
                    <td rowspan="2" ng-class="match.away.clazz" class="hidden-xs col-md-1"> <!--Equipo-->
                        <div class="team {{match.away.team}}"></div>
                    </td>
                    <td ng-class="match.away.clazz"> <!--Jugador-->
                        <img class="img-circle img-circle-small" ng-src="{{getPicture(match.away.player)}}" ng-click="addPlayerTag(match.away.player)">
                        <span class="hidden-xs">{{match.away.player}}</span>
                    </td>
                    <% if (user && user.admin) { %>
                    <td rowspan="2" class="col-md-1" ng-controller="modalController" style="border-top: 0px; background-color: #ffffff!important;"><button type="button" class="btn btn-circle btn-success" ng-click="open(match, this)"><i class="fa fa-fw fa-edit"></i></button></td>
                    <% } %>
                </tr>
                <tr ng-class="match.clazz">
                    <td ng-class="match.home.clazz" ng-show="getPicture(match.home.partner)"> <!--Pareja-->
                        <img class="img-circle img-circle-small" ng-src="{{getPicture(match.home.partner)}}" ng-click="addPlayerTag(match.home.partner)">
                        <span class="hidden-xs">{{match.home.partner}}</span>
                    </td>
                    <td ng-class="match.away.clazz" ng-show="getPicture(match.away.partner)">    <!--Pareja-->
                        <img class="img-circle img-circle-small" ng-src="{{getPicture(match.away.partner)}}" ng-click="addPlayerTag(match.away.partner)"  >
                        <span class="hidden-xs">{{match.away.partner}}</span>
                    </td>
                </tr>
                <tr ng-hide="filteredMatches.length"><td colspan="8">Nada por aqui!</td></tr>
                </tbody>
        </table>
        </div>
        <h4 ng-show="hasStandings(theTournament, thePhase)">Posiciones</h4>
        <div class="table-responsive">
            <table class="table table-hover table-striped text-center middleData" ng-show="hasStandings(theTournament, thePhase)">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Equipo</th>
                <th class="text-center" >Pts</th>
                <th class="text-center">PJ</th>
                <th class="text-center">PG</th>
                <th class="text-center">PE</th>
                <th class="text-center">PP</th>
                <th class="text-center">GF</th>
                <th class="text-center">GC</th>
                <th class="text-center">DG</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="position in positions">
                <td>{{$index + 1}}</td>
                <td>
                    <div ng-if="position.team" class="team {{position.team}}"></div>
                    <img class="img-circle" ng-src="{{getPicture(position.player)}}">
                    <span class="playerPosition">{{position.player}}</span>
                    <img ng-if="position.partner" class="img-circle" ng-src="{{getPicture(position.partner)}}">
                    <span class="playerPosition" ng-if="position.partner">{{position.partner}}</span>
                </td>
                <td class="table-bordered" style="background-color: aliceblue" >{{position.points}}</td>
                <td>{{position.matchesPlayed}}</td>
                <td>{{position.matchesWon}}</td>
                <td>{{position.matchesTied}}</td>
                <td>{{position.matchesLost}}</td>
                <td>{{position.goalsScored}}</td>
                <td>{{position.goalsReceived}}</td>
                <td>{{position.goalsDiff}}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>


<div ng-controller="modalController">
    <script type="text/ng-template" id="resultsEditor">
        <div class="modal-header">
            <h3>Editar</h3>
            <h4 class="modal-title">{{match.tournament.name}} - {{match.phase}} - {{match.date | date:'dd-MM-yyyy'}}</h4>
        </div>
        <div class="modal-body table-responsive">
			<div style="margin: 0.7em">
				<label for="calendar">Fecha del partido: </label>
				<input id="calendar" type="date" class="form-control" datepicker-popup="{{format}}" ng-model="match.date" is-open="opened" ng-required="true" close-text="Close" style="width: 15em;display: inline;"/>
			</div>

            <table class="table table-striped" id="matchLoad">
                <thead>
                <tr>
					<th class="col-xs-3 col-md-3"> <!--Equipo Local-->
						<ui-select ng-model="match.home.team.selected" theme="bootstrap" >
							<ui-select-match placeholder="Select team">{{$select.selected.text}}</ui-select-match>
							<ui-select-choices repeat="team in teams| filter: $select.search">
								<div ng-bind-html="team.text | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
                    </th>
					<th class="col-xs-3 col-md-3"><!--Calendario-->
						Equipos
						
                    </th>
					<th class="col-xs-3 col-md-3"> <!--Equipo Visitante-->
						<ui-select ng-model="match.away.team.selected" theme="bootstrap">
							<ui-select-match placeholder="Select team">{{$select.selected.text}}</ui-select-match>
							<ui-select-choices repeat="team in teams| filter: $select.search">
								<div ng-bind-html="team.text | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> <!--Jugador-->
						<ui-select ng-model="match.home.player.selected" theme="bootstrap">
							<ui-select-match placeholder="Search ...">{{$select.selected.alias}}</ui-select-match>
							<ui-select-choices repeat="player in players | filter: $select.search">
								<div ng-bind-html="player.alias | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
                    </td>
                    <th>Jugadores</th>
                    <td> <!--Jugador-->
						<ui-select ng-model="match.away.player.selected" theme="bootstrap">
							<ui-select-match placeholder="Search ...">{{$select.selected.alias}}</ui-select-match>
							<ui-select-choices repeat="player in players | filter: $select.search">
								<div ng-bind-html="player.alias | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
                    </td>
                </tr>
                <tr>
                    <td>
						<ui-select ng-model="match.home.partner.selected" theme="bootstrap">
							<ui-select-match placeholder="Search ...">{{$select.selected.alias}}</ui-select-match>
							<ui-select-choices repeat="player in players | filter: $select.search">
								<div ng-bind-html="player.alias | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
                    </td>
                    <th>Compañeros</th>
                    <td>
						<ui-select ng-model="match.away.partner.selected" theme="bootstrap">
							<ui-select-match placeholder="Search ...">{{$select.selected.alias}}</ui-select-match>
							<ui-select-choices repeat="player in players | filter: $select.search">
								<div ng-bind-html="player.alias | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>

					</td>
                </tr>
                <tr>
                    <td><input type="number" ng-model="match.home.goals" class="form-control text-center numberBox"></td>
                    <th>Goles</th>
                    <td><input type="number" ng-model="match.away.goals" class="form-control text-center numberBox"></td>
                </tr>
                <tr ng-show="match.away.goals == match.home.goals">
                    <td><input type="number" ng-model="match.home.penalties" class="form-control text-center numberBox"></td>
                    <th>Penales</th>
                    <td><input type="number" ng-model="match.away.penalties" class="form-control text-center numberBox"></td>
                </tr>
                <tr>
                    <td><input type="number" ng-model="match.home.yellowCards" class="form-control text-center numberBox"></td>
                    <th>Amarillas</th>
                    <td><input type="number" ng-model="match.away.yellowCards" class="form-control text-center numberBox"></td>
                </tr>
                <tr>
                    <td><input type="number" ng-model="match.home.redCards" class="form-control text-center numberBox"></td>
                    <th>Rojas</th>
                    <td><input type="number" ng-model="match.away.redCards" class="form-control text-center numberBox"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
